<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.90so.net/layui/2.4.3/css/layui.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <li class="layui-timeline-item" style="padding-top:10px">
        <div class="layui-timeline-content layui-text">
            <ul>
                <li>smart-admin生成器V1.0版</li>
            </ul>
        </div>
    </li>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>更新日志</legend>
</fieldset>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">V1.0</h3>
                            <p>
                                1.0 版本，终于还是大家见面了。美中不足的是，此版本中 不包含页面部分。
                                <br>下个版本中，我们会完善一切。
                                <br>我们坚信我们会越来越好，越走越远 <i class="layui-icon"></i>
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">诞生</h3>
                            <p>我们的代码生成器基于renren-generate，首先感谢<em>人人开源团队</em>的支持！</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div></body>
</html>