/*清除浮动*/
.clearfix:after {
  display: block;
  clear: both;
  content: '';
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
.picker{
  font-size: 20px;
  color: #222222;
  width: 750px;
}
.picker-title{
  font-size: 30px;
  color:red;
}
.picker-detail{
  height: 100px;
  position: relative;
  padding: 10px 0;
  border-bottom: 2px solid #222222;
  border-top: 2px solid #222222;
}
.picker-detail div.hide{
  display: none;
}
.picker-detail-date{
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  width: 100%;
}
.picker-detail-day{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 120px;
  font-size: 60px;
  color: red;
}
.picker-detail-nl{
  float: left;
  width: 50%;
  height: 20px;
  line-height: 20px;
}
.picker-detail-sx{
  float: left;
  width: 50%;
  height: 20px;
  line-height: 20px;
}
.picker-detail-nymdr{
  float: left;
  width: 50%;
  height: 20px;
  line-height: 20px;
}
.picker-detail-jq{
  float: left;
  width: 50%;
  height: 20px;
  line-height: 20px;
}
.picker-detail-xz{
  float: left;
  width: 50%;
  height: 20px;
  line-height: 20px;
}
.picker-tools{
  height: 60px;
  line-height: 60px;
  padding: 10px 0;
  border-bottom: 2px solid #222222;
}
.picker-tools div{
  float: left;
  text-align: center;
}
.picker-tools-prev-year,.picker-tools-prev-month,.picker-tools-next-month,.picker-tools-next-year{
  width: 15%;
  color: blue;
}
.picker-tools-see-month,.picker-tools-see-year{
  width: 20%;
}
.picker-list-w{
  margin:10px auto 0px;
  position: relative;
  width: 700px;
}
.picker-list-w div{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 35px;
}
.picker-list-w-r{
  color: red;
}
.picker-list{
  position: relative;
  width: 700px;
  margin:0px auto 10px;
}
.picker-list-item{
  float: left;
  width: 100px;
  height: 80px;
  position: relative;
  text-align: center;
}
.picker-list-prev{
  opacity: 0.4;
}
.picker-list-prev.hide{
  opacity: 0;
}
.picker-list-next{
  opacity: 0.4;
}
.picker-list-next.hide{
  opacity: 0;
}
.picker-list-item-y{
  height: 40px;
  line-height: 40px;
  font-size: 30px;
}
.picker-list-item-n{
  height: 40px;
  line-height: 40px;
}
.picker-list-item-n.hide{
  display: none;
}
.picker-list-item.now{
  background: red;
}
.picker-list-item.focus.now{
  background: red;
}
.picker-list-item.focus{
  background: yellow;
}
.picker-tools2{
  height: 60px;
  line-height: 60px;
  padding: 10px 0;
  border-bottom: 2px solid #222222;
  border-top: 2px solid #222222;
}
.picker-tools2 div{
  float: left;
  text-align: center;
  width: 25%;
  color: blue;
}
.picker-sel{
  margin-top: 10px;
}
.picker-sel label{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  margin-right: 10px;
}
.picker-sel select{
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  margin-right: 10px;
}