<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>模拟登录</title>
    <style>
        input,select{

            margin-bottom: 10px;
        }
    </style>
</head>
<body style="text-align: center;padding-top: 50px" >

<!-- <select id="channel" style="width: 150px;height: 35px;">
    <option value="02" selected>手机端</option>
    <option value="01">pc端</option>
</select> -->
<br/>
<input type="text" id="no" placeholder="请输入手机号" style="width: 150px;height: 30px;" >
<br/>
<button  onclick="sss()" style="width: 150px;height: 50px;" >登录</button>
</body>
<script src="./ajs/common.js"></script>
<script type="text/javascript"  src="./ajs/jquery-2.1.4.min.js"></script>
<script src="./ajs/jquery.cookie.js"></script>
<script type="text/javascript">

	function sss(){
        var num=$("#no").val();
        if(!num){
            alert("请输入手机号");
            return;
        }
        var channel=$("#channel").val();

        $.cookie('JUT', num, {path: '/' });
        $.cookie('_jf_id',num,{path: '/' });
        
        var a = getRequest();
        var url =_path+ "/login/one";
        if(a && a.state){ url = a.state }
        
		console.log(url);
		window.location.href=url;
	}
</script>
</html>