article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: none; }

a:active,
a:hover {
  outline: none; }

a {
  outline: none; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0; }

.clearfix {
  zoom: 1; }

.mrg0A {
  margin: 0 !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

.pad5A {
  padding: 5px !important; }

.pad5T {
  padding-top: 5px !important; }

.pad5R {
  padding-right: 5px !important; }

.pad5B {
  padding-bottom: 5px !important; }

.pad5L {
  padding-left: 5px !important; }

.pad10A {
  padding: 10px !important; }

.pad10T {
  padding-top: 10px !important; }

.pad10R {
  padding-right: 10px !important; }

.pad10B {
  padding-bottom: 10px !important; }

.pad10L {
  padding-left: 10px !important; }

.pad15A {
  padding: 15px !important; }

.pad15T {
  padding-top: 15px !important; }

.pad15R {
  padding-right: 15px !important; }

.pad15B {
  padding-bottom: 15px !important; }

.pad15L {
  padding-left: 15px !important; }

.pad20A {
  padding: 20px !important; }

.pad20T {
  padding-top: 20px !important; }

.pad20R {
  padding-right: 20px !important; }

.pad20B {
  padding-bottom: 20px !important; }

.pad20L {
  padding-left: 20px !important; }

.pad25A {
  padding: 25px !important; }

.pad25T {
  padding-top: 25px !important; }

.pad25R {
  padding-right: 25px !important; }

.pad25B {
  padding-bottom: 25px !important; }

.pad25L {
  padding-left: 25px !important; }

.pad45A {
  padding: 45px !important; }

.pad45T {
  padding-top: 45px !important; }

.pad45R {
  padding-right: 45px !important; }

.pad45B {
  padding-bottom: 45px !important; }

.pad45L {
  padding-left: 45px !important; }

.pad0A {
  padding: 0 !important; }

.pad0T {
  padding-top: 0 !important; }

.pad0R {
  padding-right: 0 !important; }

.pad0B {
  padding-bottom: 0 !important; }

.pad0L {
  padding-left: 0 !important; }

.mrg5A {
  margin: 5px !important; }

.mrg5T {
  margin-top: 5px !important; }

.mrg5R {
  margin-right: 5px !important; }

.mrg5B {
  margin-bottom: 5px !important; }

.mrg5L {
  margin-left: 5px !important; }

.mrg10A {
  margin: 10px !important; }

.mrg10T {
  margin-top: 10px !important; }

.mrg10R {
  margin-right: 10px !important; }

.mrg10B {
  margin-bottom: 10px !important; }

.mrg10L {
  margin-left: 10px !important; }

.mrg15A {
  margin: 15px !important; }

.mrg15T {
  margin-top: 15px !important; }

.mrg15R {
  margin-right: 15px !important; }

.mrg15B {
  margin-bottom: 15px !important; }

.mrg15L {
  margin-left: 15px !important; }

.mrg20A {
  margin: 20px !important; }

.mrg20T {
  margin-top: 20px !important; }

.mrg20R {
  margin-right: 20px !important; }

.mrg20B {
  margin-bottom: 20px !important; }

.mrg20L {
  margin-left: 20px !important; }

.mrg25A {
  margin: 25px !important; }

.mrg25T {
  margin-top: 25px !important; }

.mrg25R {
  margin-right: 25px !important; }

.mrg25B {
  margin-bottom: 25px !important; }

.mrg25L {
  margin-left: 25px !important; }

.mrg45A {
  margin: 45px !important; }

.mrg45T {
  margin-top: 45px !important; }

.mrg45R {
  margin-right: 45px !important; }

.mrg45B {
  margin-bottom: 45px !important; }

.mrg45L {
  margin-left: 45px !important; }

.mrg0A {
  margin: 0 !important; }

.mrg0T {
  margin-top: 0 !important; }

.mrg0R {
  margin-right: 0 !important; }

.mrg0B {
  margin-bottom: 0 !important; }

.mrg0L {
  margin-left: 0 !important; }

.mrg70B {
  margin-bottom: 70px; }

.delLineBox {
  position: relative;
  display: inline; }
  .delLineBox:before {
    content: "";
    width: 110%;
    height: 1.5px;
    left: -2px;
    top: 10px;
    position: absolute;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    background: #727171; }

.icon_clock {
  width: 27px;
  height: 28px;
  background-image: url(../img/icon_clock.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; }

.icon_rule {
  width: 22px;
  height: 25px;
  background-image: url(../img/icon_rule.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; }

.icon_history {
  width: 26px;
  height: 28px;
  background-image: url(../img/icon_history.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; }

.icon_arrow_up {
  width: 20px;
  height: 12px;
  background-image: url(../img/icon_arrow_up.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; }

body {
  font-family: 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif';
  min-width: 1366px;
  background-image: url("../img/bg_part.png"); }

p {
  margin: 0; }

.bg-white {
  background: #FFF; }

.un-warp {
  width: 1020px;
  margin: 0 auto;
  position: relative; }

.un-header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ff6600;
  box-sizing: border-box; }

.un-hader-left {
  float: left;
  margin-top: 15px; }

.un-hader-logo {
  float: left;
  display: block; }

.unicome-logo {
  width: 125px;
  height: 70px; }

.ishop-logo {
  width: 152px;
  height: 70px; }

.un-header-right {
  float: right; }

.un-header-menu {
  list-style: none; }

.un-header-menu-item {
  text-align: center;
  width: 76px;
  height: 99px;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  float: left;
  margin: 0 38px;
  line-height: 99px;
  cursor: pointer;
  box-sizing: border-box; }

.un-header-menu-item-active {
  color: #ff6600;
  border-bottom: 3px solid #ff6600; }

.un-header-menu-item:last-child {
  margin-right: 0; }

.un-banner {
  background-image: url("../img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  height: 600px;
  position: relative;
  border-top: 1px solid transparent; }

.bg2 {
  background-image: url("../img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  height: 96px;
  position: relative;
  border-top: 1px solid transparent; }

.bg3 {
  background-image: url("../img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  height: 1578px;
  position: relative;
  border-top: 1px solid transparent; }

.un-banner-text1 {
  background-image: url("../img/banner-text1.png");
  width: 767px;
  height: 436px;
  margin: 86px auto 56px;
  z-index: 1; }

.un-banner-text2 {
  background-image: url("../img/banner-text2.png");
  width: 1088px;
  height: 303px;
  margin: 88px auto 0;
  z-index: 1; }

.un-rule-bg {
  background-image: url("../img/rule-bg.png");
  width: 1222px;
  height: 621px;
  position: relative;
  margin: 30px auto 40px; }

.un-rule-block {
  width: 821px;
  position: absolute;
  top: 260px;
  left: 210px;
  line-height: 1.6; }

.un-rule-text {
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  text-align: left; }

.un-goods-block {
  width: 1222px;
  margin: 0 auto;
  padding-top: 161px; }
  .un-goods-block .un-goods-container {
    width: 964px;
    height: 1272px;
    margin: 0 auto;
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
    padding: 21px 18px; }

.un-goods-item {
  float: left;
  list-style: none;
  width: 309px;
  height: 410px;
  position: relative;
  cursor: pointer; }
  .un-goods-item:after {
    content: '';
    position: absolute;
    right: 0;
    top: 72px;
    background-image: url(../img/v_border.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 3px;
    height: 287px; }
  .un-goods-item:nth-child(3n):after {
    display: none; }

.un-goods-item:nth-of-type(4n) {
  margin-right: 0; }

.un-goods-img {
  width: 250px;
  max-width: 250px;
  max-height: 250px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 26px;
  display: block; }

.un-goods-name {
  font-size: 23.5px;
  line-height: 1.2;
  color: #340B0C;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 0 20px; }

.un-goods-info {
  width: 309px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  left: 0; }

.un-goods-sale {
  font-size: 16px;
  line-height: 22px;
  color: #FF373B; }
  .un-goods-sale span {
    font-size: 29px;
    font-weight: bold;
    margin-left: 5px; }

.un-goods-sale-old {
  font-size: 16px;
  letter-spacing: 0px;
  color: #727171; }
  .un-goods-sale-old span {
    font-size: 22px;
    margin-left: 5px; }

.un-goods-sale-pro {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #666666; }

.un-goods-left {
  float: left;
  width: 185px;
  box-sizing: border-box;
  padding-left: 20px; }

.un-goods-right {
  float: left;
  width: 106px; }

.un-goods-skill-btn {
  background-image: url(../img/seckillBtn.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 106px;
  height: 33px;
  display: block;
  margin-top: 10px; }
  .un-goods-skill-btn.disabled {
    background-image: url(../img/seckillBtn_d.png);
    cursor: default; }

.un-footer {
  background-color: #ebebeb;
  position: relative;
  width: 100%;
  height: 139px; }
  .un-footer .box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .un-footer p {
    font-size: 12px;
    color: #999999;
    line-height: 1;
    text-align: center; }
    .un-footer p:first-child {
      margin-bottom: 10px; }
  .un-footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; }

.un-fixed-btn {
  display: block;
  width: 41px;
  height: 41px;
  background-image: url("../img/icon-scroll-top.png");
  cursor: pointer;
  position: fixed; }

.fixBtnGroup {
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 1024; }
  .fixBtnGroup ul li {
    text-align: center;
    background-color: #474747;
    width: 101px;
    height: 98px;
    color: #FFF;
    border-bottom: 1px solid #7d7d7d; }
    .fixBtnGroup ul li:hover {
      background-color: #EE1A1B;
      border-bottom: none; }
    .fixBtnGroup ul li.active {
      background-color: #BE0102;
      border-bottom: none; }
    .fixBtnGroup ul li a {
      display: block;
      width: 100%;
      height: 100%; }
    .fixBtnGroup ul li:nth-child(1) a {
      padding-top: 19px; }
    .fixBtnGroup ul li:nth-child(2) a {
      padding-top: 19px; }
    .fixBtnGroup ul li:nth-child(3) a {
      padding-top: 17px; }
    .fixBtnGroup ul li i {
      margin-bottom: 6px; }
    .fixBtnGroup ul li a:link,
    .fixBtnGroup ul li a:visited,
    .fixBtnGroup ul li a:hover,
    .fixBtnGroup ul li a:active {
      color: #FFF;
      text-decoration: none; }
  .fixBtnGroup .gotoTop {
    cursor: pointer;
    width: 101px;
    height: 65px;
    background-color: #7D7D7D;
    text-align: center;
    color: #FFF;
    padding-top: 9px; }
    .fixBtnGroup .gotoTop i {
      margin-bottom: 2px; }

.un-set-timeout {
  width: 1022px;
  height: 71px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 21px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .un-set-timeout .swiper-container {
    width: 978px; }
  .un-set-timeout .swiper-wrapper {
    width: 1022px; }
  .un-set-timeout .swiper-slide {
    width: 271px;
    height: 71px;
    cursor: pointer; }
  .un-set-timeout .active-nav {
    background-color: #ff7f17; }
    .un-set-timeout .active-nav .un-set-timeout-acitve-time,
    .un-set-timeout .active-nav .un-set-timeout-active-right,
    .un-set-timeout .active-nav .un-set-timeout-wait-time,
    .un-set-timeout .active-nav .un-set-timeout-wait-aside1,
    .un-set-timeout .active-nav .un-set-timeout-over,
    .un-set-timeout .active-nav .un-set-timeout-over-right {
      color: #fff; }
  .un-set-timeout .timeStr {
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    line-height: 71px;
    float: left;
    padding: 0 20px; }
  .un-set-timeout .statusBox {
    float: left;
    font-size: 16px;
    color: #FFF;
    line-height: 1;
    margin-top: 13px; }
  .un-set-timeout .statusStr {
    height: 1em;
    margin-bottom: 10px; }
  .un-set-timeout .dateStr {
    height: 1em; }

.un-arrow-left {
  background-image: url("../img/index-arrow-left.png");
  width: 13px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  cursor: pointer;
  display: inline-block; }

.un-arrow-right {
  background-image: url("../img/index-arrow-right.png");
  width: 13px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
  cursor: pointer;
  display: inline-block; }

.un-set-swiper {
  margin: 0 22px; }

.un-disabled-common-btn {
  background-color: #aeaeae;
  text-align: center;
  display: block;
  font-size: 14px;
  line-height: 58px;
  letter-spacing: 0px;
  color: #fffefe;
  text-decoration: none; }

@media screen and (max-width: 1366px) {
  .un-record-table {
    width: 96% !important; }
    .un-record-table th:nth-child(1) {
      width: 290px !important; }
    .un-record-table th:nth-child(2) {
      width: 370px !important; }
    .un-record-table th:nth-child(3) {
      width: 120px !important; }
    .un-record-table th:nth-child(4) {
      width: 220px !important; } }
.tb-header {
  margin-top: 42px; }
  .tb-header li {
    height: 50px;
    background-color: #EEEEEE;
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    letter-spacing: 0px;
    color: #666666;
    text-align: left;
    font-weight: normal;
    float: left; }
    .tb-header li:first-child {
      padding-left: 20px; }

.un-record-title {
  margin: 30px 0 27px;
  font-size: 14px;
  color: #666666;
  line-height: 1; }

.un-record-table {
  margin-top: 28px;
  width: 100%;
  border: 1px solid #BFBFBF;
  background: #FFF; }
  .un-record-table .un-record-table-thead {
    height: 50px;
    background-color: #EEEEEE; }
    .un-record-table .un-record-table-thead th {
      height: 18px;
      font-size: 14px;
      line-height: 50px;
      letter-spacing: 0px;
      color: #666666;
      text-align: left;
      font-weight: normal; }
  .un-record-table .un-record-table-tbody tr {
    height: 135px;
    padding: 20px 0;
    border-bottom: 1px solid #DDDDDD; }
    .un-record-table .un-record-table-tbody tr:last-child {
      border-bottom: 1px solid #BFBFBF; }

.un-record-order {
  width: 102px;
  width: fit-content;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: #333333;
  padding-left: 20px; }

.un-record-img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 13px;
  margin-top: 12px; }

.un-record-title {
  float: left;
  width: 230px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #333333;
  height: 50px; }

.un-record-sale {
  width: 79px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 0px;
  color: #FF0000; }

.un-record-time {
  width: auto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333333; }

.un-navigation-bar .pagination > li > a,
.un-navigation-bar .pagination > li > span {
  color: #666666; }
.un-navigation-bar .pagination > .active > a,
.un-navigation-bar .pagination > .active > a:focus,
.un-navigation-bar .pagination > .active > a:hover,
.un-navigation-bar .pagination > .active > span,
.un-navigation-bar .pagination > .active > span:focus,
.un-navigation-bar .pagination > .active > span:hover {
  background-color: #EE1A1B;
  border-color: #EE1A1B;
  color: #FFF; }

.un-link {
  cursor: pointer;
  display: inline-block;
  color: #3368F0;
  display: block; }

.un-detail-title {
  margin: 0 0 35px;
  font-size: 14px;
  color: #666666;
  line-height: 1;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #DDDDDD;
  padding-top: 15px; }

.un-detail-title-link {
  text-decoration: none;
  font-size: 14px;
  color: #666666;
  line-height: 1;
  cursor: pointer; }

.un-slider-block {
  width: 450px;
  float: left;
  margin-right: 20px; }
  .un-slider-block .un-slider-view {
    border: 1px solid #cccccc; }
    .un-slider-block .un-slider-view .un-residue {
      width: 219px;
      height: 39px;
      background-color: rgba(204, 0, 1, 0.8);
      border-radius: 0px 16px 0px 0px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 10;
      color: #ffffff;
      font-size: 24px;
      line-height: 39px;
      text-align: center; }
    .un-slider-block .un-slider-view .swiper-container {
      width: 450px;
      height: 450px; }
    .un-slider-block .un-slider-view .arrow-left {
      background: url("../img/index_tab_l.png") no-repeat left top;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -25px;
      width: 28px;
      height: 51px;
      z-index: 10; }
    .un-slider-block .un-slider-view .arrow-right {
      background: url("../img/index_tab_r.png") no-repeat left bottom;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -25px;
      width: 28px;
      height: 51px;
      z-index: 10; }
    .un-slider-block .un-slider-view img {
      width: 448px;
      height: 448px; }
  .un-slider-block .un-slider-preview {
    width: 100%;
    margin-top: 19px;
    position: relative; }
    .un-slider-block .un-slider-preview .swiper-container {
      width: 430px;
      height: 58px;
      margin-left: 35px; }
    .un-slider-block .un-slider-preview .arrow-left {
      background: url("../img/feel3.png") no-repeat left top;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -9px;
      width: 9px;
      height: 18px;
      z-index: 10; }
    .un-slider-block .un-slider-preview .arrow-right {
      background: url("../img/feel4.png") no-repeat left bottom;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -9px;
      width: 9px;
      height: 18px;
      z-index: 10; }
    .un-slider-block .un-slider-preview .swiper-slide {
      width: 58px;
      height: 58px;
      cursor: pointer; }
      .un-slider-block .un-slider-preview .swiper-slide img {
        width: 56px;
        height: 56px; }
    .un-slider-block .un-slider-preview .slide6 {
      width: 58px; }
    .un-slider-block .un-slider-preview img {
      padding: 1px; }
    .un-slider-block .un-slider-preview .active-nav img {
      padding: 0;
      border: 1px solid #CC0001; }

.un-detail-intr {
  float: left;
  width: 546px; }

.un-detail-intr-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333333;
  margin-bottom: 30px; }

.un-detail-row {
  margin-bottom: 30px; }

.un-detail-leble {
  width: 50px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #333333;
  display: inline-block;
  line-height: 1; }

.un-detail-options {
  display: inline-block; }

.un-detail-options-sale {
  font-size: 24px;
  letter-spacing: 0px;
  color: #FF0000;
  margin-right: 10px; }

.un-detail-options-sale-aside {
  font-size: 14px;
  color: #FF0000; }

.un-detail-options-pro {
  text-decoration: line-through; }

.un-detail-progress {
  width: 120px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: solid 1px #CC0001;
  overflow: hidden;
  margin-right: 20px; }

.un-detail-progress-residue {
  background: #DB4C4D;
  height: 14px; }

.un-detail-service {
  width: 196px;
  font-size: 14px;
  color: #666666; }

.un-detail-aside {
  font-size: 14px;
  letter-spacing: 0px;
  color: #333333;
  display: inline-block;
  line-height: 1; }

.un-detail-skill-btn {
  margin-top: 135px;
  display: block;
  width: 195px;
  height: 50px;
  background-color: #CC0001;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px; }
  .un-detail-skill-btn:hover, .un-detail-skill-btn:focus {
    color: #FFF;
    text-decoration: none; }

.un-detail-skill-disabled-btn {
  margin-top: 135px;
  display: block;
  width: 195px;
  height: 50px;
  background-color: #aeaeae;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px; }
  .un-detail-skill-disabled-btn:hover, .un-detail-skill-disabled-btn:focus {
    color: #FFF;
    text-decoration: none; }

.un-detail-tab {
  width: 100%;
  height: 50px;
  background-color: #EEEEEE;
  margin-top: 60px; }

.un-detail-tab-index {
  width: 112px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  color: #808080;
  float: left;
  text-align: center;
  cursor: pointer; }

.un-detail-tab-active {
  background-color: #CC0001;
  color: #ffffff; }

.un-detail-tab-content {
  display: none;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  border: 1px solid #BFBFBF; }
  .un-detail-tab-content img {
    max-width: 100%; }

.un-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: none; }

.un-modal {
  width: 670px;
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -245px;
  margin-left: -335px; }

.un-modal-header {
  height: 50px;
  width: 670px;
  background-image: linear-gradient(180deg, #ff812d 4%, #ff6600 100%);
  position: relative; }

.un-modal-header-title {
  font-size: 16px;
  line-height: 50px;
  color: #ffffff;
  position: relative;
  padding-left: 20px; }

.un-modal-close {
  background-image: url("../img/modal-close-btn.png");
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 20px; }

.un-modal-content {
  width: 670px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 51px 0; }

.un-modal-person {
  background-image: url("../img/modal-person.png");
  width: 318px;
  height: 304px;
  margin: 0 auto 45px; }

.un-modal-content-text {
  font-size: 30px;
  letter-spacing: 0px;
  color: #666666;
  text-align: center; }

.ruleContent {
  margin-bottom: 100px;
  padding-top: 70px; }
  .ruleContent .title {
    font-size: 36px;
    color: #EF342E;
    text-align: center;
    margin-bottom: 30px;
    position: relative; }
    .ruleContent .title:before {
      content: '';
      left: 0;
      top: 0;
      height: 1px;
      width: 240px;
      display: inline-block;
      background: #EF342E;
      margin-right: 15px;
      vertical-align: 11px; }
    .ruleContent .title:after {
      content: '';
      left: 0;
      top: 0;
      height: 1px;
      width: 240px;
      display: inline-block;
      background: #EF342E;
      margin-left: 12px;
      vertical-align: 11px; }
  .ruleContent .content {
    font-size: 18px;
    color: #999999;
    position: relative;
    padding: 60px;
    background: #FFF; }
    .ruleContent .content:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: 15px solid #FFE7E7;
      width: 100%;
      height: 100%;
      width: -webkit- calc(100% - 30px);
      width: -moz- calc(100% - 30px);
      width: calc(100% - 30px);
      height: -webkit- calc(100% - 30px);
      height: -moz- calc(100% - 30px);
      height: calc(100% - 30px); }
    .ruleContent .content:after {
      content: '';
      position: absolute;
      left: 15px;
      top: 15px;
      border: 2px solid #EF342E;
      width: -webkit- calc(100% - 30px);
      width: -moz- calc(100% - 30px);
      width: calc(100% - 30px);
      height: -webkit- calc(100% - 30px);
      height: -moz- calc(100% - 30px);
      height: calc(100% - 30px); }
    .ruleContent .content > p {
      font-size: 18px;
      color: #999999;
      line-height: 1.944;
      text-align: justify;
      text-justify: inter-ideograph; }

/*# sourceMappingURL=style.css.map */
