# http://editorconfig.org
root = true

# 空格替代Tab缩进在各种编辑工具下效果一致，相对美观。多占有些字符倒是次要。
[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# 前端相关的代码通常含有开闭标签，会占用大量字符空间，缩进2空格更加美观
[*.{html,xml,json,js,jsp}]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
