var filters = {
  toFix: function (value){
    // console.log("===filters==", value)
    return value.toFixed(2) // 此处2为保留两位小数，保留几位小数，这里写几    
  },
  toAbs: function (value) {
    // console.log("===filters==", value)
    return Math.abs(value)
  },
  toCeil: function (value) {
    // console.log("===filters==", value)
    return Math.ceil(value)
  },
  typeOf: function (value) {
    // console.log("===filters==", typeof(value),value)
    return typeof(value)
  },
  toNum: function (value) {
    // console.log("===filters==",value)
    return Number(value)
  },
}
module.exports = { toFix: filters.toFix, toAbs: filters.toAbs, typeOf: filters.typeOf, toCeil: filters.toCeil, toNum: filters.toNum}
module.exports.msg = "some msg";