<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.AppSysUserDao">

	<select id="queryMationByUserCode" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.user_code userCode,
			a.pwd_num_enc pwdNum,
			a.`password`,
			a.user_lock userLock,
			c.user_name userName,
			c.user_photo userPhoto,
			c.user_sign userSign,
			d.department_name departmentName,
			e.job_name jobName
		FROM
			sys_eve_user a
			LEFT JOIN sys_eve_user_install b ON a.id = b.user_id
			LEFT JOIN sys_eve_user_staff c ON a.id = c.user_id
			LEFT JOIN company_department d ON d.id = c.department_id
			LEFT JOIN company_job e ON e.id = c.job_id
		WHERE
			a.user_code = #{userCode}
	</select>
	
	<select id="queryAppMenuByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			c.id,
			c.title,
			c.logo,
			c.url,
			c.parent_id parentId,
			'1' menuLevel
		FROM
			sys_eve_user a,
			app_workbench_page_role b,
			app_workbench_page c,
			app_workbench_page d
		WHERE
			INSTR(CONCAT(',', a.role_id, ','), CONCAT(',', b.role_id, ','))
			AND c.parent_id = d.id AND d.state = 2 AND b.page_id = c.id 
			AND c.type = 2 AND c.state = 2 AND a.id = #{id}
			GROUP BY c.id
		UNION ALL
		SELECT
			c.id,
			c.title,
			c.logo,
			c.url,
			c.parent_id parentId,
			'0' menuLevel
		FROM
			sys_eve_user a,
			app_workbench_page_role b,
			app_workbench_page c
		WHERE
			INSTR(CONCAT(',', a.role_id, ','), CONCAT(',', b.role_id, ','))
			AND b.page_id = c.id AND c.type = 1 AND c.state = 2
			AND a.id = #{id}
			GROUP BY c.id
	</select>
	
	<select id="queryAppAuthPointsByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			c.url menuUrl,
			c.auth_num menuNum
		FROM
			sys_eve_user a,
			app_workbench_page_auth_role b,
			app_workbench_page_auth c,
			app_workbench_page d,
			app_workbench_page e
		WHERE 
		    INSTR(CONCAT(',', a.role_id, ','), CONCAT(',', b.role_id, ','))
			AND b.auth_id = c.id AND d.parent_id = e.id AND e.state = 2
			AND c.page_id = d.id AND d.type = 2 AND d.state = 2
			AND a.id = #{id}
			GROUP BY c.auth_num
	</select>
	
</mapper>