        .icon_clock {
            width: 27px;
            height: 28px;
            background-image: url(../img/icon_clock.png);
            background-repeat: no-repeat;
//          background-size: cover;
            background-position: center;
            display: inline-block;
        }
        
        .icon_rule {
            width: 22px;
            height: 25px;
            background-image: url(../img/icon_rule.png);
            background-repeat: no-repeat;
//          background-size: cover;
            background-position: center;display: inline-block;
        }
        
        .icon_history {
            width: 26px;
            height: 28px;
            background-image: url(../img/icon_history.png);
            background-repeat: no-repeat;
//          background-size: cover;
            background-position: center;display: inline-block;
        }
        
        .icon_arrow_up {
            width: 20px;
            height: 12px;
            background-image: url(../img/icon_arrow_up.png);
            background-repeat: no-repeat;
//          background-size: cover;
            background-position: center;display: inline-block;
        }