<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>中国联通积分商城</title>
    <link rel="stylesheet" type="text/css" href="../guess_pc/assets/widgets/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../guess_pc/assets/widgets/select/bootstrap-select.css" />
    <link rel="stylesheet" href="../guess_pc/assets/css/style.css">
    <script src="../ajs/common.js"></script>
    <script src="../ajs/jquery-2.1.4.min.js"></script>
    <script src="../guess_pc/assets/widgets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../guess_pc/assets/widgets/select/bootstrap-select.js"></script>

    <style>
        /* IE10+ 半透明自动隐藏的滚动条 */
        @-ms-viewport {
            width: device-width;
        }
        -ms-overflow-style: scrollbar;/*auto | none | scrollbar | -ms-autohiding-scrollbar*/
        .un-body{
            overflow-y: auto;
        }
    </style>
</head>

<body class="un-body">
    <div>
        <div class="un-header">
            <div class="un-warp clearfix">
                <div class="un-hader-left clearfix">
                    <a href="#" class="un-hader-logo">
                        <img src="../guess_pc/assets/img/unicome-logo.png" class="unicome-logo">
                    </a>
                    <a href="#" class="un-hader-logo">
                        <img src="../guess_pc/assets/img/integral-shop-logo.png" class="ishop-logo">
                    </a>
                </div>
                <div class="un-hader-right">
                    <span class="jf-icon"></span>
                    <span class="un-hader-right-text">积分:</span>
                </div>
            </div>
        </div>
        <div class="un-body">
            <a href="#"><div class="un-guess-img"></div></a>
            <div class="un-guess-wrap">
                <div class="un-guess-wrap-container">
                    <div class="un-guess-history-block">
                        <ul class="un-guess-history">

                        </ul>
                        <div class="clearfix un-guess-history-bottom">
                            <div id="pageBar" class="un-navigation-bar clearfix right" style="line-height:34px;padding-right:20px;margin-bottom:64px;">

                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <div class="un-guess-menu">
            <div class="un-guess-menu-item">
                <div class="un-guess-menu-icon un-guess-menu-icon-pos1"></div>
                <p class="un-guess-menu-item-text">竞猜话题</p>
            </div>
            <div class="un-guess-menu-item un-guess-menu-item-active">
                <div class="un-guess-menu-icon un-guess-menu-icon-pos2"></div>
                <p class="un-guess-menu-item-text">竞猜记录</p>
            </div>
            <div class="un-guess-menu-item">
                <div class="un-guess-menu-icon un-guess-menu-icon-pos3"></div>
                <p class="un-guess-menu-item-text">竞猜规则</p>
            </div>
            <div class="un-guess-menu-item-last" id="scrollTop">
                <div class="un-guess-menu-icon un-guess-menu-icon-pos4"></div>
                <p class="un-guess-menu-item-text">回到顶部</p>
            </div>
        </div>


    </div>
        <script src="../guess_pc/assets/js/guess_comm.js"></script>
        <script src="../guess_pc/assets/js/history.js"></script>
</body>

</html>