<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.JobDiaryDao">
	
	<select id="queryJobDiaryDayReceived" resultType="java.util.Map">
		SELECT * FROM 
			(SELECT
				b.id,
				c.user_name userName,
				a.create_time realCreateTime,
				CONVERT(DATE (a.create_time), char) createTime,
				a.job_title jobTitle,
				b.state,
				'1' diaryType,
				'日报' typeName
			FROM
				job_diary_is_day a,
				job_diary_day_received b,
				sys_eve_user_staff c
			WHERE 
				b.received_id = #{receivedId}
				AND b.diary_day_id = a.id
				AND c.user_id = a.create_id
				AND b.state != 3
				AND a.state != 2
			UNION ALL
			SELECT
				b.id,
				c.user_name userName,
				a.create_time realCreateTime,
				CONVERT(DATE (a.create_time), char) createTime,
				a.job_title jobTitle,
				b.state,
				'2' diaryType,
				'周报' typeName
			FROM
				job_diary_is_week a,
				job_diary_week_received b,
				sys_eve_user_staff c
			WHERE 
				b.received_id = #{receivedId}
				AND b.diary_week_id = a.id
				AND c.user_id = a.create_id
				AND b.state != 3
				AND a.state != 2
			UNION ALL
			SELECT
				b.id,
				c.user_name userName,
				a.create_time realCreateTime,
				CONVERT(DATE (a.create_time), char) createTime,
				a.job_title jobTitle,
				b.state,
				'3' diaryType,
				'月报' typeName
			FROM
				job_diary_is_month a,
				job_diary_month_received b,
				sys_eve_user_staff c
			WHERE 
				b.received_id = #{receivedId}
				AND b.diary_month_id = a.id
				AND c.user_id = a.create_id
				AND b.state != 3
				AND a.state != 2) a
		WHERE 1=1
			<if test="diaryType != '' and diaryType != null">
				AND a.diaryType = #{diaryType}
			</if>
			ORDER BY a.state ASC, a.realCreateTime DESC
	</select>
	
</mapper>