<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="renderer" content="webkit">
		<title>中国联通积分商城</title>
		   <link rel="stylesheet" href="../seckill_pc/assets/widgets/swiper-3.4.2/swiper-3.4.2.min.css">
  			  <link rel="stylesheet" href="../seckill_pc/assets/css/style.css">

		  <script src="../ajs/jquery-2.1.4.min.js"></script>
     <script src="../seckill_pc/assets/widgets/swiper-3.4.2/swiper-3.4.2.jquery.min.js"></script>
     <script src="../ajs/common.js"></script>
     <script src="../ajs/moment.min.js"></script>
     <script src="../seckill_pc/assets/js/index.js"></script>
	</head>

	<body>
		<div>
			<div class="un-body">
				<div class="un-banner bg1"></div>
				<div class="un-set-timeout-block bg2" id="swipertime">
					<div class="un-set-timeout ">
						<span class="un-arrow-left"></span>
						<span class="un-arrow-right"></span>
						<div class="un-set-swiper swiper-container clearfix">
							<div class="swiper-wrapper">
								
								
							</div>

						</div>

					</div>
				</div>

				<div class="un-goods-block bg3" id="activity">

					<div class="un-goods-container" id="js_goodsListScroll">

						<ul class="clearfix sk_ul">
							

						</ul>
					</div>
				</div>
				<div class="un-warp" id="rulePanel" style="display:none">
					<div class="ruleContent">
						<div class="title">活动规则</div>
						<div class="content un-rule-blocks">
							
						</div>
					</div>
				</div>
			</div><input type="hidden" id="end_time"/>

			<!--悬浮按钮组-->
			<div class="fixBtnGroup">
				<ul>
					<li class="active">
						<a href="javascript:;" id="showActivityBtn">
							<i class="icon_clock"></i>
							<p>秒杀活动</p>
						</a>
					</li>
					<li>
						<a href="javascript:;" id="showRuleBtn">
							<i class="icon_rule"></i>
							<p>秒杀规则</p>
						</a>
					</li>
					<li>
						<a href="list.html">
							<i class="icon_history"></i>
							<p>秒杀记录</p>
						</a>
					</li>
				</ul>
				<div class="gotoTop">
					<i class="icon_arrow_up"></i>
					<p>回顶部</p>
				</div>
			</div>

			<!--<div class="un-fixed-btn"></div>-->
			<!-- 弹窗 -->
			<div class="un-mask">
				<div class="un-modal">
					<div class="un-modal-header">
						<p class="un-modal-header-title">温馨提示</p>
						<span class="un-modal-close"></span>
					</div>
					<div class="un-modal-content">
						<div class="un-modal-person"></div>
						<p class="un-modal-content-text">活动已结束，下一场马上开始</p>
					</div>
				</div>
			</div>

		</div>

		<script type="text/javascript" src="../seckill_pc/assets/js/nicescroll.js"></script>
		<script>
			$(function() {
				// var screenHeight = window.innerHeight;
				// $('.un-banner').height(screenHeight - 100);

				//列表滚动条
				$("#js_goodsListScroll").niceScroll();

				// 秒杀滚动条
				var viewSwiper = new Swiper('.un-set-swiper', {
					width: 271,
					spaceBetween: 0,
				})

				$('.un-arrow-left').on('click', function(e) {
					e.preventDefault()
					viewSwiper.slidePrev()
				})
				$('.un-arrow-right').on('click', function(e) {
					e.preventDefault()
					viewSwiper.slideNext()
				})
				// 点击时间段事件
				viewSwiper.on('tap', function(swiper) {
					$('.un-set-swiper .active-nav').removeClass('active-nav')
					var activeNav = $('.un-set-swiper .swiper-slide').eq(swiper.clickedIndex).addClass('active-nav')
				})

				//  弹窗
				$('.un-modal-close').on('click', function() {
					$('.un-mask').hide();
				})
				// 打开弹窗
				// $('.un-mask').show();

			})
		</script>
	</body>

</html>
