<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="renderer" content="webkit">
		<title>中国联通积分商城</title>
		
		<link rel="stylesheet" type="text/css" href="../seckill_pc/assets/widgets/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../seckill_pc/assets/widgets/select/bootstrap-select.css" />
		<link rel="stylesheet" href="../seckill_pc/assets/css/style.css">

		<script src="../ajs/jquery-2.1.4.min.js"></script>
		 <script src="../ajs/common.js"></script>
		<script src="../seckill_pc/assets/widgets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="../seckill_pc/assets/widgets/select/bootstrap-select.js"></script>
		<script src="../seckill_pc/assets/js/list.js"></script>
	</head>

	<body>

			<div class="un-body">

				<div class="un-banner"></div>
				<div class="un-warp">
					
					<div class="tb-header" id="tb-header">
						<ul class="clearfix">
							<li style="width: 270px;padding-left:20px;">订单编号</li>
							<li style="width: 320px;">秒杀礼品</li>
							<li style="width: 90px;">价格</li>
							<li style="width: 185px;">时间</li>
							<li style="width: 75px;">状态</li>
							<li>操作</li>
						</ul>
					</div>
					<table class="un-record-table" id="table">
						<thead class="un-record-table-thead hidden">
							<tr>
								<th style="width: 270px;padding-left:20px;">订单编号</th>
								<th style="width: 320px;">秒杀礼品</th>
								<th style="width: 90px;">价格</th>
								<th style="width: 185px;">时间</th>
								<th style="width: 75px;">状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody class="un-record-table-tbody" id="tbody">
							 
							 
						</tbody>
					</table>
					<div class="clearfix mrg70B"  id="pageBar">
						 
					</div>
				</div>

 		<form id="killForm" action="" method="post">
    		<input type="hidden" name="goodsId" /> 
   	 		<input type="hidden" name="sign" />  
    		<input type="hidden" name="count" />  
		</form>
		
			</div>

			<!--悬浮按钮组-->
			<div class="fixBtnGroup">
				<ul>
					<li>
						<a href="index.html?pageType=activity">
							<i class="icon_clock"></i>
							<p>秒杀活动</p>
						</a>
					</li>
					<li>
						<a href="index.html?pageType=rule">
							<i class="icon_rule"></i>
							<p>秒杀规则</p>
						</a>
					</li>
						<li class="active">
						<a href="list.html">
							<i class="icon_history"></i>
							<p>秒杀记录</p>
						</a>
					</li>
				</ul>
				<div class="gotoTop">
					<i class="icon_arrow_up"></i>
					<p>回顶部</p>
				</div>
			</div>
			<div class="un-footer">
				<div class="box">
					<p>Copyright© 1999-2018 中国联通 版权所有</p>
					<p>中华人民共和国增值电信业务经营许可证 经营许可证编号：A2.B1.B2-20090003 </p>
				</div>
			</div>

		</div>
<script>


	

			/*取文档内容实际高度*/
			function getScrollHeight() {
				return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
			}
			//每次更新list时，调用此方法
			function updateFooter() {
				var $footer = $(".un-footer");
				if(getScrollHeight() > $(window).height()) {
					$footer.removeClass("fixed");
				} else {
					$footer.addClass("fixed");
				}
			}
			updateFooter();

			$('.gotoTop').on('click', function() {
				$(window).scrollTop(0);
			})

			//自动更新表格宽度
			$(window).resize(onReisze);
			function onReisze() {
				var h = 0;
				$("#tbody tr:eq(0) td").each(function(i, item) {
					var newWidth = $(item).css("width");
					if(newWidth)
						{
						
						
					h += parseInt(newWidth);
					$("#tb-header li").eq(i).css("width", newWidth);
						}
				});
//				$("#tb-header").width(h);
			}
			onReisze();
			
			resizeDot();
			
function resizeDot()
{
	$(".un-record-title").each(function(i) {
		if(!$(this).attr("data-init"))
			{
			var divH = $(this).height();
			var $p = $("p", $(this)).eq(0);
			while($p.outerHeight() > divH) {
				$p.text($p.text().replace(/(\s)*([a-zA-Z0-9]+|\W)(\.\.\.)?$/, "..."));
			};
			
			$(this).attr("data-init", true);
			}
		
	});

}
		</script>
		 
	</body>

</html>