/**
* Copyright &copy; 2017-2020 <a href="https://www.smartwx.info">smartwx</a> All rights reserved.
*
* @author ${author}
* @date ${datetime}
*/
package ${package}.${moduleName}.ctrl;

import com.smart.common.BaseCtrl;
import com.smart.common.util.*;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.I${className}Service;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.util.Arrays;
import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @version 2.0
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${pathName}")
@Api(description = "${comments}")
public class ${className}Ctrl extends BaseCtrl {
    @Resource
    private I${className}Service ${classname}Service;

    /**
     * 列表
     */
    @GetMapping("/list")
    @ApiOperation(value = "获取列表信息")
    public AjaxResult list(${className} ${classname}) throws Exception {
        List<${className}> ${classname}List = ${classname}Service.queryListByPage(${classname});
        return getResult(${classname}, ${classname}List);
    }

    /**
     * 信息
     */
    @GetMapping("/info")
    @ApiOperation(value = "获取详情信息")
    public AjaxResult info(${className} ${classname}) throws Exception {
		${className} one =${classname}Service.queryObject(${classname});
        return AjaxResult.success(one);
    }

    /**
     * 保存
     */
    @PostMapping("/save")
    @ApiOperation(value = "保存")
    public AjaxResult save(${className} ${classname}) throws Exception {
		${classname}Service.insert(${classname});
        return AjaxResult.saveSuccess();
    }

    /**
     * 修改
     */
    @PostMapping("/update")
    @ApiOperation(value = "修改")
    public AjaxResult update(${className} ${classname}) throws Exception {
		${classname}Service.update(${classname});
        return AjaxResult.updateSuccess();
    }

    /**
     * 删除
     */
    @PostMapping("/delete")
    @ApiOperation(value = "删除")
    public AjaxResult delete(${className} ${classname}) throws Exception {
		${classname}Service.delete(${classname});
        return AjaxResult.deleteSuccess();
    }

    /**
     * 批量删除
     */
    @PostMapping("/deleteBatch")
    @ApiOperation(value = "批量删除")
    public AjaxResult deleteBatch(@RequestParam("${pk.attrname}s[]") String[] ${pk.attrname}s) throws Exception {
        ${classname}Service.deleteBatch(Arrays.asList(${pk.attrname}s));
        return AjaxResult.deleteSuccess();
    }
}
