<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  the code template created by smart-generator @author hermit @version 2.0 @date ${datetime} -->
<mapper namespace="${package}.${moduleName}.dao.${className}Mapper">

    <resultMap id="BaseResultMap" type="${package}.${moduleName}.entity.${className}">
#foreach($column in $columns)
        <result column="${column.columnName}" property="${column.attrname}" />
#end
    </resultMap>

    <!-- 字段列表 -->
    <sql id="Base_Column_List">
        #foreach($column in $columns)t.${column.columnName}#if($velocityCount != $columns.size()),#end#end

    </sql>

    <!-- 查询单条数据 -->
	<select id="queryObject" resultType="${package}.${moduleName}.entity.${className}">
        select
        <include refid="Base_Column_List" />
        from ${tableName} t
        <where>
            <if test="${pk.attrname} != null">
				${pk.columnName} = #{${pk.attrname}}
            </if>
        </where>
	</select>

    <!-- 查询数据集合 -->
	<select id="queryList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ${tableName} t
        <where>
            <if test="${pk.attrname} != null">
				${pk.columnName} = #{${pk.attrname}}
            </if>
        </where>
	</select>

    <!-- 分页查询 -->
    <select id="queryListByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ${tableName} t
        <where>
            <if test="${pk.attrname} != null">
				${pk.columnName} = #{${pk.attrname}}
            </if>
        </where>
        ORDER BY t.create_time desc
    </select>

    <!-- 查询数量 -->
 	<select id="queryCount" resultType="java.lang.Integer"  parameterType="${package}.${moduleName}.entity.${className}">
        select
        count(*) ct
        from ${tableName} t
        <where>
            <if test="${pk.attrname} != null">
				${pk.columnName} = #{${pk.attrname}}
            </if>
        </where>
	</select>

    <!-- 新增数据 -->
	<insert id="insert" parameterType="${package}.${moduleName}.entity.${className}"#if($pk.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
		insert into ${tableName}
		(#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
#if($velocityCount == 1)$column.columnName#if($velocityCount != $columns.size()),
#end
#else		$column.columnName#if($velocityCount != $columns.size()),
#end
#end
#end
#end)
		values
		(#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
#if($velocityCount == 1)#{$column.attrname}#if($velocityCount != $columns.size()),
#end
#else		#{$column.attrname}#if($velocityCount != $columns.size()),
#end
#end
#end			
#end)

	</insert>

    <!-- 修改数据 -->
	<update id="update" parameterType="${package}.${moduleName}.entity.${className}">
		update ${tableName} 
		<set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
			<if test="$column.attrname != null">
				$column.columnName = #{$column.attrname}#if($velocityCount != $columns.size()),#end

			</if>
#end
#end
		</set>
		where ${pk.columnName} = #{${pk.attrname}}
	</update>

    <!-- 删除数据 -->
	<delete id="delete" parameterType="${package}.${moduleName}.entity.${className}">
		delete from ${tableName} where ${pk.columnName} = #{${pk.attrname}}
	</delete>

    <!-- 批量删除数据 -->
	<delete id="deleteByBatch">
		delete from ${tableName} where ${pk.columnName} in 
		<foreach item="${pk.attrname}" collection="list" open="(" separator="," close=")">
			#{${pk.attrname}}
		</foreach>
	</delete>

</mapper>