/**
 * Copyright &copy; 2017-2018 <a href="https://www.smartwx.info">smartwx</a> All rights reserved.
 *
 * @author ${author}
 * @date ${datetime}
 */
package ${package}.${moduleName}.entity;

import com.smart.common.page.Page;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.io.Serializable;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.util.Date;
#end

/**
 * ${comments}
 *
 * @author ${author}
 * @version 2.0
 * @date ${datetime}
 */
@Data
@Builder(toBuilder = true)
@NoArgsConstructor
@AllArgsConstructor
@ApiModel(description = " ${comments}")
public class ${className} extends Page implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
#if($column.attrname == 'state' || $column.attrname == 'createTime' || $column.attrname == 'createUserId' || $column.attrname == 'updateTime' || $column.attrname == 'updateUserId')
    @ApiModelProperty(hidden = true)
#else
    @ApiModelProperty(value = "$column.comments")
#end
	private $column.attrType $column.attrname;
#end
}