select{background-color:#eeeeee;border: none;outline: none;padding: 3px;}
ul{list-style: none;}   li{float: left;height: 40px;padding: 13px 15px;margin-right: 30px}
#common{margin-left: -39px;}
#vip{margin-left: 0px;}
#sale-common{margin-left: -39px;}
#sale-vip{margin-left: 0px;}
.click-style{background-color: #ffffff;}
a:hover{text-decoration: none;}
