.search-top{border-bottom: 1px solid #E0E0E0;}
.usermessage{width: 100px;margin-right: 10px;}
.Wdate{width:100px}
.member-select{margin-right: 10px;}
.seperate{text-align: right;}
.pagination{margin: 0px;}
.fade-content{padding: 20px 15px 10px 30px;}
.fade-content div{margin:5px;}
.fade-content div p{display: inline-block;width: 70px;}
.btn-addconfirm{float: right;margin: 15px 0;}
.bank div{margin-left: 0px;}
.bank{display: none;}
select{outline: none;}
