body{font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;font-size:12px;background-color: #ecf0f5;}
.content-left{width: 50%;float: left;margin:10px 15px}
.border{border: 1px solid #ebebeb;background-color: #FFFFFF;}
tr{border-top: 1px double #ebebeb;}
td{text-align: center;}
.all{text-align: left;padding-top: 14px;position: absolute;margin-left: -15px;border-top: none;}
.firstline{background-color: #f6f6f6;}
.btn{padding: 3px 12px;}
.btn-color{background-color: #1b9af7;color: #ffffff;}
.btn-red{background-color: #ff4351 ;color: #ffffff;}
.con-table{overflow:auto;max-height: 400px;overflow-x: hidden;}
.code{width: 60px;text-align: center;outline: none;border-radius: 3px;border: none;border: 1px solid #A1A1A1;}
.manage-content{margin: 30px 15px;width: 70%;position: fixed;}
.search-top{padding: 20px 15px;background-color: #ffffff;}
.btn-focus button:focus{color: #fff;outline: none;} .btn-focus button:hover{color: #fff;}
.btn:focus{color: #fff;outline: none;} .btn:hover{color: #fff;}
.small-icon{margin-right: 3px;background: url("../img/myimg/small-icon.png");margin-bottom:-4px;width: 16px;height:16px;display: inline-block;}
.small-search{background-position:0px 0px;}
.small-add{background-position:-16px -80px;}
.small-delete{background-position:-16px -48px;}
.small-close{background-position:-16px 0px;}
.small-export{background-position:0px -112px;}
.small-inport{background-position:-16px -128px;}
.small-ok{background-position:0px -16px;}
.small-change{background-position:-16px -96px;}
.small-deleteline{background-position:-16px -64px;}
.small-recommendline{background-position:0px -80px;}
.small-derecommend{background-position:0px -48px;}
.small-recommend{background-position:0px -64px;}
.small-publish{background-position:-16px -112px;}
.small-waitdeal{background-position:0px -144px;}
.small-dealed{background-position:0px -128px;}
.small-watch{background-position:-16px -32px;margin-bottom: -5px;}
.content-fade{background: #fff;display: none;width: 350px;margin-top: 10%;margin-left:37%;position: absolute;z-index: 1;}
.content-fade2{background: #fff;display: none;width: 350px;margin-top: 10%;margin-left:37%;position: absolute;z-index: 1;}
.fade-top{background: #f6f6f6;padding: 15px;}
.fade-top p{display: inline;}
.fade-top img{float: right;}
.input-style{padding: 3px 5px;outline:none;font-family: "微软雅黑";border: none;border: 1px solid #E0E0E0;box-shadow:0 0 5px #E0E0E0}
.back{background-color: rgba(0,0,0,0.4);width: 100%;height: 100%;position: fixed;display: none;}
.select{outline: none;width: 90px;border: none;background: #eeeeee;padding: 4px;}
.usermessage{border: 1px solid #E0E0E0;padding: 3px;outline: none;box-shadow: 0px 0px 1px #E0E0E0;}
.Wdate{border: 1px solid #E0E0E0;padding: 3px;outline: none;box-shadow: 0px 0px 1px #E0E0E0;}



.checkbox {
	margin-top: -7px;
    width: 14px;
    height: 14px;
}

.checkbox input[type=checkbox] {
    -webkit-appearance: none;
    background-color: transparent;
    outline: 0 !important;
    border: 0;
    font-size: 12px !important;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}

.checkbox input[type=checkbox]:before {
    display: inline-block;
    text-align: center;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    font-weight: thin;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(221,221,221,0.9);
}

.checkbox input[type=checkbox]:checked:before{
    color: #1b9af7;
}

.checkbox input[type=checkbox]:before {
    content: "\f096";
}

.checkbox input[type=checkbox]:checked:before {
    content: "\f14a";
}

