.qa p{display: inline-block;margin: 0;height: 20px;width: 20px;color: #fff;padding: 1px;border-radius: 3px;text-align: center;}
.quest p{background: #ff6e6e;}
.quest div{margin-top: -20px;margin-left: 25px;}
.answer p{background: #6dc1ff ;}
.answer div{color: #f0b44c ;margin-top: -20px;margin-left: 25px;}
.answer{margin-top: 10px;display: none;}
.answer-input{margin-top: 10px;display: none;}
.answer-input p{background: #6dc1ff ;}
.answer-input textarea{resize: none;display: block;margin-top: -20px;margin-left: 25px;outline: none;box-shadow: 0 0 2px #A1A1A1;border: none;}
.quest-td{text-align: left;width: 350px;}
.answer-btn input{color: #6dc1ff;border: 1px solid #6dc1ff;border-radius: 4px;padding: 3px 15px;background:#fff}
#subm-btn{color: #6dc1ff;border: 1px solid #6dc1ff;border-radius: 4px;padding: 3px 15px;background:#fff;display: none;}
