.usermessage{width: 100px;margin-right: 10px;}
.Wdate{width: 100px;}
.select{margin-right: 10px;}
.btn-ml{margin-left: 7px;}
.seperate{text-align: right;}
.pagination{margin: 0;}
.state-color{color: red;}
.fade-content{padding: 20px 15px 10px 30px;}
.fade-content div{margin:5px;}
.fade-content div p{display: inline-block;width: 70px;}
.btn-addconfirm{float: right;margin: 15px 0;}