<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.AppCompanyChatDao">
	
	<select id="queryCompanyDepartmentByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.department_name groupname,
			@rownum := @rownum + 1 AS `online`,
			#{userId} thisUserId
		FROM
			sys_eve_user_staff a,
			company_department b,
			( SELECT @rownum := 0 ) r
		WHERE a.user_id = #{userId}
		AND a.company_id = b.company_id
	</select>
	
	<select id="queryDepartmentUserByDepartId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.user_name username,
			b.id,
			'offline' status,
			a.user_photo avatar,
			IFNULL(a.user_sign, '暂无签名') sign,
			m.company_name companyName,
			m.department_name departmentName,
			m.job_name jobName
		FROM
			sys_eve_user_staff a
			LEFT JOIN (SELECT 
							o.user_id,
							p.job_name,
							q.department_name,
							u.company_name
						FROM 
							sys_eve_user_staff o, 
							company_job p, 
							company_department q, 
							company_mation u 
						WHERE o.company_id = u.id 
							AND o.department_id = q.id 
							AND o.job_id = p.id) m ON m.user_id = a.user_id,
			sys_eve_user b
		WHERE a.department_id = #{id}
		AND a.user_id = b.id
		AND a.state = '1'
		AND b.id != #{thisUserId}
		AND b.id != '0dc9dd4cd4d446ae9455215fe753c44e'
	</select>
	
</mapper>