<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiton.mapper.AdminMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		admin_id AS adminId, admin_username AS adminUsername, admin_password AS adminPassword, admin_type AS adminType
	</sql>

</mapper>