<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiton.mapper.OptionalStockMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		os_id AS osId, os_stockcode AS osStockcode, os_stockname AS osStockname, os_userId AS osUserid
	</sql>

</mapper>