<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiton.mapper.ReferenceMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		rer_id AS rerId, rer_shareCode AS rerSharecode, rer_rerInfo AS rerRerinfo, rer_pubtime AS rerPubtime
	</sql>

</mapper>