<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiton.mapper.SelloutMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 sell_type AS sellType,sell_id AS sellId, sell_stockname AS sellStockname, sell_stockcode AS sellStockcode, sell_selltime AS sellSelltime, sell_sellprice AS sellSellprice, sell_technick AS sellTechnick, pur_purtime AS purPurtime, pur_purprice AS purPurprice, create_time AS createTime
	</sql>

</mapper>