@font-face {
  font-family: "iconfont"; /* Project id 2874232 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1636514770782') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1636514770782') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1636514770782') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle-fill:before {
  content: "\e844";
}

.icon-close-circle-fill:before {
  content: "\e845";
}

.icon-plus-circle-fill:before {
  content: "\e846";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-zengjia:before {
  content: "\e8c0";
}

.icon-youhuiquan:before {
  content: "\e8c1";
}

.icon-quanbudingdan:before {
  content: "\e600";
}

.icon-moban:before {
  content: "\e6bb";
}

.icon-hetongqianzi:before {
  content: "\e615";
}

.icon-gongwujiedai:before {
  content: "\e609";
}

.icon-kaoqinchuqin:before {
  content: "\e8d0";
}

.icon-haocaifei:before {
  content: "\e6bc";
}

.icon-huiyishi1:before {
  content: "\e662";
}

.icon-baoming1:before {
  content: "\e632";
}

.icon-jiabanshenqing:before {
  content: "\e651";
}

.icon-hetongxieyi:before {
  content: "\e64b";
}

.icon-jiabanshenpi:before {
  content: "\e774";
}

.icon-yongche:before {
  content: "\e601";
}

.icon-baoming:before {
  content: "\e664";
}

.icon-qingjia:before {
  content: "\e624";
}

.icon-tianshenpi:before {
  content: "\eb67";
}

.icon-icon_yingyongguanli:before {
  content: "\eb8f";
}

.icon-xingzhuang-xingxing:before {
  content: "\eb9a";
}

.icon-gongnengdingyi:before {
  content: "\ebb7";
}

.icon-kongxinduigou:before {
  content: "\ebe5";
}

.icon-tianjia:before {
  content: "\e620";
}

.icon-chucha:before {
  content: "\e60f";
}

.icon-gongdan:before {
  content: "\ec37";
}

.icon-daibanshixiang2:before {
  content: "\ec4e";
}

.icon-bianjisekuai:before {
  content: "\ec7c";
}

.icon-hetongguanli:before {
  content: "\e625";
}

.icon-huiyishi:before {
  content: "\e608";
}

.icon-ribao:before {
  content: "\e835";
}

.icon-banjieshiwu:before {
  content: "\e602";
}

.icon-daibanshiwu:before {
  content: "\e603";
}

.icon-kaoheguanli:before {
  content: "\e606";
}

.icon-shiyanshikaohe:before {
  content: "\e607";
}

.icon-baoxiao:before {
  content: "\e605";
}

.icon-shenpi:before {
  content: "\e626";
}

.icon-baoxiaodan:before {
  content: "\e61b";
}

.icon-xinwen:before {
  content: "\e639";
}

.icon-tongzhi:before {
  content: "\e648";
}

.icon-fujian:before {
  content: "\e655";
}

.icon-msg-system:before {
  content: "\e6b9";
}

.icon-daibanshixiang:before {
  content: "\e65d";
}

.icon-tongzhi1:before {
  content: "\e64a";
}

.icon-daibanshixiang1:before {
  content: "\e6ba";
}

.icon-search:before {
  content: "\e6b4";
}

.icon-view-list:before {
  content: "\e6b5";
}

.icon-headset-one:before {
  content: "\e6b6";
}

.icon-list-checkbox:before {
  content: "\e6b7";
}

.icon-jiyika:before {
  content: "\e6b8";
}

.icon-chart-histogram-two:before {
  content: "\e679";
}

.icon-audit:before {
  content: "\e67a";
}

.icon-check-one:before {
  content: "\e67b";
}

.icon-bookmark-one:before {
  content: "\e67c";
}

.icon-a-comment1:before {
  content: "\e67d";
}

.icon-avatar:before {
  content: "\e67e";
}

.icon-collection-files:before {
  content: "\e67f";
}

.icon-copy-one:before {
  content: "\e680";
}

.icon-add:before {
  content: "\e681";
}

.icon-currency:before {
  content: "\e682";
}

.icon-edit-two:before {
  content: "\e683";
}

.icon-finance:before {
  content: "\e684";
}

.icon-find:before {
  content: "\e685";
}

.icon-folder-plus:before {
  content: "\e686";
}

.icon-link-break:before {
  content: "\e687";
}

.icon-financing-one:before {
  content: "\e688";
}

.icon-help:before {
  content: "\e689";
}

.icon-chart-pie:before {
  content: "\e68a";
}

.icon-id-card:before {
  content: "\e68b";
}

.icon-a-lock1:before {
  content: "\e68c";
}

.icon-list:before {
  content: "\e68d";
}

.icon-lock:before {
  content: "\e68e";
}

.icon-key:before {
  content: "\e68f";
}

.icon-a-key1:before {
  content: "\e690";
}

.icon-me:before {
  content: "\e691";
}

.icon-equalizer:before {
  content: "\e692";
}

.icon-comment:before {
  content: "\e693";
}

.icon-log:before {
  content: "\e694";
}

.icon-mall-bag:before {
  content: "\e695";
}

.icon-list-view:before {
  content: "\e696";
}

.icon-send:before {
  content: "\e697";
}

.icon-people:before {
  content: "\e698";
}

.icon-peoples:before {
  content: "\e699";
}

.icon-a-message-one1:before {
  content: "\e69a";
}

.icon-phone-telephone:before {
  content: "\e69b";
}

.icon-internal-transmission:before {
  content: "\e69c";
}

.icon-schedule:before {
  content: "\e69d";
}

.icon-more-one:before {
  content: "\e69e";
}

.icon-sim:before {
  content: "\e69f";
}

.icon-a-peoples1:before {
  content: "\e6a0";
}

.icon-wallet:before {
  content: "\e6a1";
}

.icon-permissions:before {
  content: "\e6a2";
}

.icon-faan:before {
  content: "\e6a3";
}

.icon-transporter:before {
  content: "\e6a4";
}

.icon-transaction-order:before {
  content: "\e6a5";
}

.icon-message-one:before {
  content: "\e6a6";
}

.icon-shouji:before {
  content: "\e6a7";
}

.icon-liebiaochakanmoshi_view-grid-list:before {
  content: "\e6a8";
}

.icon-time:before {
  content: "\e6a9";
}

.icon-transaction:before {
  content: "\e6aa";
}

.icon-setting-two:before {
  content: "\e6ab";
}

.icon-plan:before {
  content: "\e6ac";
}

.icon-a-time1:before {
  content: "\e6ad";
}

.icon-shezhi_setting:before {
  content: "\e6ae";
}

.icon-zanting:before {
  content: "\e6af";
}

.icon-sousuo_search:before {
  content: "\e6b0";
}

.icon-xiangqingliebiao:before {
  content: "\e6b1";
}

.icon-workbench:before {
  content: "\e6b2";
}

.icon-shujubiao_data-sheet:before {
  content: "\e6b3";
}

