<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="HandheldFriendly" content="true">
		<meta name="MobileOptimized" content="320">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="browsermode" content="application">
		<meta name="x5-page-mode" content="app">
		<meta name="msapplication-tap-highlight" content="no">
		<title>暂无活动</title>
		<link rel="stylesheet" href="../seckill_mobile/css/app.css">
		<script type="text/javascript" src="../ajs/common.js"></script>
	</head>

	<body ontouchstart="">
		<div class="" id="emptyPage">
			<div class="main_box">

				<pic class="icon_empty_wo"></pic>
				<p class="title font30">暂无秒杀活动</p>

				<div class="copyRight font30">中国联通</div>
			</div>
		</div>

		<script src="../seckill_mobile/js/flexible.js"></script>
		<script src="../ajs/jquery-2.1.4.min.js"></script>
		<script src="../seckill_mobile/js/empty.js"></script>
		
		<script>
		</script>
	</body>

</html>