<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="HandheldFriendly" content="true">
		<meta name="MobileOptimized" content="320">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="browsermode" content="application">
		<meta name="x5-page-mode" content="app">
		<meta name="msapplication-tap-highlight" content="no">
		<title>积分秒杀</title>
		<link rel="stylesheet" href="../seckill_mobile/css/app.css">
		<link rel="stylesheet" href="../seckill_mobile/css/swiper.min.css">
		<script type="text/javascript" src="../ajs/common.js?v=1"></script>
		<script>
			/*
			 * android禁止微信浏览器调整字体大小
			 *  这种方法会导致网页延迟大约1S
			 */
			(function() {
				if(typeof WeixinJSBridge == "object" && typeof WeixinJSBridge.invoke == "function") {
					handleFontSize();
				} else {　　
					if(document.addEventListener) {
						document.addEventListener("WeixinJSBridgeReady", handleFontSize, false);
					} else if(document.attachEvent) {
						document.attachEvent("WeixinJSBridgeReady", handleFontSize);
						document.attachEvent("onWeixinJSBridgeReady", handleFontSize);
					}
				}

				function handleFontSize() {　　 // 设置网页字体为默认大小
					WeixinJSBridge.invoke('setFontSizeCallback', {
						'fontSize': 0
					});

					　　 // 重写设置网页字体大小的事件
					WeixinJSBridge.on('menu:setfont', function() {
						WeixinJSBridge.invoke('setFontSizeCallback', {
							'fontSize': 0
						});
					});
				}
			})();
		</script>
	</head>

	<body ontouchstart="" style="background: #FC3C3D;">
		<div class="absPage" id="mainPage">
			<div class="main_box">

				<div class="swiper-container">
					<div class="swiper-wrapper">
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<!--font15-->
				<div class="tips font26">无等级限制，客户登录活动页面在规定时间内，使用积分、现金或积分+现金支付即可参与“秒杀活动”。超值秒杀，狂欢三天。</div>

				<div class="vGap8"></div>
				
				
				
				<div class="tabBox">
					<div class="dateTab" id="dateTab">
						<div class="scrollbar" id="scrollbar">
							<ul class="flexBox" id="actList">
								<li class="flexItem disabled" >
									
								</li>
							</ul>
						</div>
					</div>		
				</div>
				
				<div class="vGap12"></div>
				<div class="tabContent" id="tabContent">

				</div>
				<div class="tabTips">
					<h4 class="font20">价格说明</h4>
					<p class="font18"><b>划线价:</b>商品展示的划横线积分价为积分参考价,该划线积分价对应的价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品委售价(如厂商指导价、建议委售价等)或该商品在中国联通积分商城平台上曾经展示过的价格，并非原价；由于地区、时间的差异性和市场行情波动,品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致,该价格仅供您参考。</p>
					<p class="font18"><b>未划线价格：</b>商品的实时标价，不因表述的差异改变性质。具体成交价格最终以订单结算页价格为准。</p>
					<p class="font18"><b>折扣:</b>如无特殊说明,折扣指销售商在原价或划线价(如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议委售价)等某一价格基础上计算出的优惠比例或优惠金额;如有疑问,您可在购买前联系销售商进行咨询。</p>
					<p class="font18"><b>异常问题:</b>商品促销信息以商品详情页的信息为准;商品的具体售价以订单结算页价格为准;如您发现活动商品售价或促销信息有异常,建议购买前先联系销售商咨询。</p>
				</div>
			</div>

			<div class="footer clearfix">
				<div class="rule-btn js-ruleBtn font32 left" id="ruleBtn">
					<i></i>
					<span>活动规则</span>
				</div>
				<div class="list-btn js-listBtn font32 left" id="seckillList" >
					<i></i>
					<span>秒杀记录</span>
				</div>
			</div>
		</div>

		<!--规则-->
		<div class="pageSlider dialog_rule" id="dialog_rule">
			<div class="w750">
				<div class="dialogPanel">
					<p class="title font42">活动规则</p>
					<div class="ruleList fon26" id="ruleList" >
						
					</div>
					<div class="closeBtn"></div>
				</div>
			</div>
		</div>
		
		<!--温馨提示 -->
		<div class="pageSlider dialog_base " id="dialog_warning" style="display: none;">
			<div class="w750">
				<div class="dialogPanel">
					<p class="title font42">温馨提示</p>
					<div class="ruleList font34">抱歉，您来晚了<br> 本轮秒杀活动已结束<br> 下一轮更有好礼相待哦~<br>记得早点来喔</div>
					<div class="closeBtn"></div>
				</div>
			</div>
		</div>
		


		<script src="../seckill_mobile/js/flexible.js"></script>
		<script src="../ajs/jquery-2.1.4.min.js"></script>
		<script src="https://res.mall.10010.cn/jf-mall/res/mobile/js/ajaxhook.min.js"></script>
		<script src="https://res.mall.10010.cn/jf-mall/res/mobile/js/filter.js"></script>
		<script src="../seckill_mobile/js/swiper.jquery.min.js"></script>
		<!-- <script src="../seckill_mobile/js/nicescroll.min.js"></script> -->
		<script src="../seckill_mobile/js/nicescroll.js"></script>
		<script type="text/javascript" src="../ajs/moment.min.js"></script>
		<script type="text/javascript" src="../seckill_mobile/js/custom.js?v=1"></script>
		<script src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/3.0.0/vconsole.min.js"></script>
		<script>
		var vConsole = new VConsole();
		console.log('Hello world');
	
		
		//弹出提示，三秒后关闭
		function showPrompt(msg) {
			var $div = $('<div class="prompt font32">' + msg + '</div>');
			$("body").append($div);
			$div.fadeIn();
			setTimeout(function() {
				$div.fadeOut(500, function() {
					$div.remove();
				});
			}, 2000);
		}

		$(function() {
			$("#seckillList").click(function(){
				if(isWeiXin()){
					window.location.href="https://m.jf.10010.com/jf-auth/wx/auth/authorize?state=https://m.jf.10010.com/wx001/jf-pf-view/seckill_mobile/seckillList.html";
				}else{
					window.location.href="seckillList.html";
				}
			});
			
			$('html,body').animate({
				scrollTop: '0px'
			}, 200);

		

			$("#scrollbar").on("touchmove", function(e) {
				e.preventDefault();
				//					return false;
			});

			//规则按钮
			$("#ruleBtn").click(function() {
				$("#dialog_rule").removeClass('moveOut').addClass('moveIn');
				return false;
			});
			//关闭按钮
			$(".closeBtn").click(function() {
				$(this).parents(".pageSlider").removeClass('moveIn').addClass('moveOut');
			});

			$(".tabBox").on("click", ".flexItem", function() {
				$(this).addClass("active").siblings().removeClass("active");
				var index = $(this).index();

				$("#tabContent .tabBody").eq(index).show().siblings().hide();

			});


		

			function initProcessbar() {
				$(".list .myProcessbar").each(function() {
					if($(this).attr("data-init") != true) {
						var val = $(this).attr("data-value");
						var $processbar = $(this).find(".probar");
						$processbar.width(val + "%");
						$(this).attr("data-init", true);
					}
				});
			}

			initProcessbar();

			//解决IOS微信webview后退不执行JS的问题
			window.onpageshow = function(event) {
				if(event.persisted) {
					window.location.reload();
				}
			};
		});
		
	</script>
	</body>
</html>