<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="HandheldFriendly" content="true">
		<meta name="MobileOptimized" content="320">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="browsermode" content="application">
		<meta name="x5-page-mode" content="app">
		<meta name="msapplication-tap-highlight" content="no">
		<title>秒杀记录</title>
		<link rel="stylesheet" href="../seckill_mobile/css/app.css">
		<script type="text/javascript" src="../ajs/common.js"></script>
	</head>

	<body ontouchstart="" style=" background-color: rgb(236, 236, 236);">
		<div class="" id="seckillListPage">
			<div class="main_box">
				<ul class="list" id="list">
					<li>
						<!-- <div class="orderInfo clearfix">
							<span class="font24 left">2018/01/17 15:00</span>
							<span class="font24 right">订单编号:5667789</span>
						</div>
						<div class="position-relative">
							<div class="pic" style="background-image: url(img/test_pic.png);"></div>
							<div class="info position-relative">
								<p class="font30 proName">史努比办公保温杯水杯420ML可爱杯子情侣杯</p>
								<p class="font24 color-red priceTxt pos-bottom"><span class="font36">99</span>&nbsp;积分</p>
							</div>
						</div> -->
					</li>
				</ul>
			</div>
		</div>
		<div id="formsumit"></div>

		<script src="../seckill_mobile/js/flexible.js"></script>
		<script src="../ajs/jquery-2.1.4.min.js"></script>
		<script src="https://res.mall.10010.cn/jf-mall/res/mobile/js/ajaxhook.min.js"></script>
		<script src="https://res.mall.10010.cn/jf-mall/res/mobile/js/filter.js"></script>
		<script type="text/javascript" src="../seckill_mobile/js/order.js?v=1"></script>

	</body>
</html>