div {
    margin:0;
    padding:0;
}

.none-box {
    margin:0;
    padding:0;
}

* {
    font-size:16px;
}

.headimg {
    width:60px;
    height:60px;
}

.btn-primary {
    background-color: orange;
    border-color: orange;
    background-image: linear-gradient(orange, orange 60%, orange)
}

.icheckbox_line-orange, .iradio_line-orange {
    height: 50px;
    line-height: 42px;
}